# -----------------------------------------------------------------------------
# Utilities
# -----------------------------------------------------------------------------
# https://dotfiles.github.io/

alias copyssh="pbcopy < $HOME/.ssh/id_rsa.pub"
alias tf='tail -f'
alias tn='tail -n'
alias df="df -h"
alias grep='GREP_COLOR="1;37;45" LANG=C grep --color=auto'
alias reload!='. ~/.zshrc'
alias pp='python -mjson.tool'
alias meteo='curl -4 http://wttr.in/Paris'
alias week='date +%V'

# Simple HTTP Server
# To serve static files from the current working directory (on http://localhost:2015)
alias server='caddy'
# alias server='python -m SimpleHTTPServer 8000'

# JS
alias nfresh="rm -rf node_modules/ yarn.lock && yarn"

# IP adresses
# alias ip="curl -s http://checkip.dyndns.com/ | sed 's/[^0-9\.]//g'"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# View HTTP traffic
alias ports='netstat -tulanp'
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Vagrant
alias vh='vagrant halt'
alias vu='vagrant up'

# -----------------------------------------------------------------------------
# Dir navigation
# -----------------------------------------------------------------------------

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# -----------------------------------------------------------------------------
# Files list
# -----------------------------------------------------------------------------

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
else # OS X `ls`
    colorflag="-G"
fi

# List all files colorized in long format
alias l="ls -l ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -la ${colorflag}"

# List only directories
alias lsd='ls -l | grep "^d"'
# alias ll='ls -ahlF --group-directories-first --color=always'

# Always use color output for `ls`
if [[ "$OSTYPE" =~ ^darwin ]]; then
    alias ls="command ls -G"
else
    alias ls="command ls --color"
    export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
fi

# -----------------------------------------------------------------------------
# GIT
# -----------------------------------------------------------------------------

alias push="git push origin master"
alias go='git checkout'
alias gom='git checkout master'

# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"

# Use Git’s colored diff when available
hash git &>/dev/null
if [ $? -eq 0 ]; then
    function diff() {
        git diff --no-index --color-words "$@"
    }
fi

# Copy a local checkout without the .git stuff
function gitexport(){
    mkdir -p "$1"
    git archive master | tar -x -C "$1"
}

# https://gist.github.com/JeffreyWay/e8d8bfae8aaa1b7f693e
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

# -----------------------------------------------------------------------------
# Mac OS
# -----------------------------------------------------------------------------

# Recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

# Flush the DNS on Mac
alias flushdns="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Show normally hidden system and dotfile types of files
# in Mac OSX Finder
function finder.showhiddenfiles() {
    defaults write com.apple.Finder AppleShowAllFiles YES
    osascript -e 'tell application "Finder" to quit'
    sleep 0.25
    osascript -e 'tell application "Finder" to activate'
}

# Hide (back to defaults) normally hidden system and dotfile types of files
# in Mac OSX Finder
function finder.hidehiddenfiles() {
    defaults write com.apple.Finder AppleShowAllFiles NO
    osascript -e 'tell application "Finder" to quit'
    sleep 0.25
    osascript -e 'tell application "Finder" to activate'
}
